@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>Estas son las politicas de privacidad</h3>


<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi massa tellus, egestas id lobortis vel, suscipit ut erat. Etiam consectetur lectus tincidunt egestas elementum. Quisque vestibulum leo vitae justo tempus, quis gravida enim imperdiet. Nunc sit amet placerat velit. Cras ut libero convallis, efficitur quam in, malesuada lectus. Nulla tincidunt convallis dolor, eu tristique nibh finibus non. Aenean posuere finibus nibh, ac ultricies dolor viverra quis. Donec vehicula tincidunt orci, at aliquam arcu maximus eu. Aliquam scelerisque congue lorem, id tempor leo venenatis vitae. Mauris dui nisi, lobortis et nibh id, elementum porttitor urna. Suspendisse eu sem metus. Aliquam ex lorem, scelerisque quis rutrum eget, tristique nec velit. Sed ac molestie quam. Morbi vitae quam interdum, egestas felis at, tempor mi. Cras sit amet elementum felis. Vestibulum lobortis at nisl sed porta.
</p>

<p>
    Vestibulum nisi risus, tincidunt id egestas lacinia, consequat vitae tortor. Ut imperdiet mi quis turpis aliquet, auctor vehicula ligula molestie. Morbi quis rutrum eros, ut maximus enim. Nullam eu ligula pharetra, venenatis justo at, gravida ante. Donec nisl arcu, dapibus et blandit et, consectetur a justo. Nulla sit amet quam quis dui dapibus vehicula vel quis nisl. Integer aliquet felis augue, non placerat est consectetur id. Nulla eu tortor ut massa sollicitudin rhoncus eget sit amet ligula. Duis at lorem eget erat gravida venenatis. Pellentesque id ultrices lorem. Suspendisse quis sapien euismod, consectetur risus ornare, ultrices metus. Nam sit amet pulvinar urna, non ultrices erat. Sed ultricies turpis eu rutrum aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer eleifend arcu eu quam suscipit gravida. Nunc luctus nec nunc ut ultrices.
</p>
<p>
    Donec sed arcu et magna blandit vehicula. Ut finibus massa velit, sed lobortis enim suscipit vel. Phasellus aliquam quam a cursus tempus. Vivamus ligula dui, consectetur quis pretium vitae, feugiat eu mi. In malesuada lorem vitae libero luctus, sed aliquam eros pulvinar. Fusce nisl nisl, vestibulum quis tincidunt eget, ornare eu ex. Cras eu nunc laoreet urna venenatis placerat nec sit amet nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum dolor felis, interdum et pretium id, feugiat sed dui. Integer pharetra arcu sem, vitae dignissim nisi feugiat vitae. Mauris efficitur sed nulla sit amet euismod. Mauris eu lorem vitae magna aliquet vestibulum non quis libero. Duis nec condimentum libero. Aenean bibendum, ante eu egestas ultricies, risus augue tempor sem, vel pretium magna quam eget est.
</p>
<p>
    Praesent venenatis lorem vel sapien faucibus, non mattis neque euismod. Curabitur blandit neque nec dolor semper euismod. Integer vel mollis est. Vivamus dapibus, eros eget imperdiet efficitur, ante mi posuere massa, sed maximus lacus eros vitae urna. Fusce sit amet nisl sit amet magna egestas venenatis. Donec mattis quam vitae tincidunt laoreet. Nulla mattis ligula a diam tempus, in tempor leo semper.
</p>
<p>
    Cras orci tortor, lobortis at lacus eget, semper egestas nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam odio nulla, fermentum non aliquet id, scelerisque sit amet dui. Praesent orci tellus, lobortis in tincidunt vel, iaculis at lectus. Pellentesque varius vel purus sed auctor. Nam lobortis fringilla magna. Suspendisse erat elit, interdum convallis lacus a, imperdiet egestas mi. Pellentesque arcu velit, elementum id cursus non, efficitur quis erat. Vivamus hendrerit, tortor eu ornare vehicula, dui turpis ullamcorper elit, rhoncus consectetur est libero vehicula nunc. Integer feugiat urna eget consectetur sollicitudin. Nullam eget vestibulum erat, eget elementum nunc.
</p>
